@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ASP-SPD111</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ASP-SPD111.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ASP_SPD111</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Lesson 1</a>
                            <div class="dropdown-menu">
                                <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Home" asp-action="Privacy">Вступ</a>
                                <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Home" asp-action="Razor">Razor</a>
                                <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Home" asp-action="Transfer">Transfer</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Lesson 2</a>
                            <div class="dropdown-menu">
                                <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Home" asp-action="Ioc">Інверсія управління</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Lesson 3</a>
                            <div class="dropdown-menu">
                                <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Home" asp-action="Db">Робота з базами даних</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Lesson 4</a>
                            <div class="dropdown-menu">
                                <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Home" asp-action="SignUp">Робота з користувачами</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">HomeWorks</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="HomeWork1" >HomeWork1</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="HomeWork1_Task3" >HomeWork1 Task3</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="HomeWork1_Task4" >HomeWork1 Task4</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="HomeWork1_Task5" >HomeWork1 Task5</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="HomeWork2" >HomeWork2</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="HomeWork3" >HomeWork3</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="HomeWork5" >HomeWork5</a>
                            </div>  
                        </li>
                    </ul>
                    @* Перевіряємо чи автентифікований користувач, 
                        виводимо або аватарку, або кнопку входу,
                        або кнопку входу
                    *@
                    @if(Context.User.Identity?.IsAuthenticated ?? false)
                    {
                        String avatar = Context.User.Claims
                            .First(claim => claim.Type == ClaimTypes.UserData)
                            .Value;
                        String myName = Context.User.Claims
                            .First(c => c.Type == ClaimTypes.Name)
                            .Value;
                        <span>@(myName) </span>
                        if (String.IsNullOrEmpty(avatar)) avatar = "no-photo.png"; 
                        <a asp-controller="User" asp-action="Profile">
                            <img src="/Avatars/@(avatar)" class="rounded nav-avatar"/>
                        </a>
                        <button type="button" class="btn btn-outline-danger"
                                
                                data-bs-toggle="modal"
                                data-bs-target="#signOutModal">
                            <i class="bi bi-box-arrow-right"></i>
                        </button>
                    }
                    else
                    {
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-outline-secondary"
                                data-bs-toggle="modal"
                                data-bs-target="#authModal"
                                >
                            <i class="bi bi-box-arrow-in-right"></i>
                        </button>
                    }

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - ASP_SPD111 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>



    <!-- Modal for authentification -->
    <div class="modal fade bd-example-modal-sm" id="authModal" tabindex="-1" aria-labelledby="authModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title fs-5" id="authModalLabel">Вхід у систему</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="login-addon"><i class="bi bi-person-down"></i></span>
                                    <input type="text" class="form-control"
                                           placeholder="Логін" aria-label="Логін"
                                           id="auth-login"
                                           name="signup-login"
                                           aria-describedby="login-addon"
                                           >
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="password-addon"><i class="bi bi-pass"></i></span>
                                    <input type="password" class="form-control"
                                           placeholder="Пароль" aria-label="Пароль"
                                           id="auth-password"
                                           name="signup-password"
                                           aria-describedby="password-addon">
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <button type="button" id="auth-button" class="btn btn-primary w-100">Увійти</button> 
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <a asp-action="SignUp" asp-controller="Home" asp-area="" type="button" class="btn btn-success w-100">Реєстрація</a>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <div id="auth-message" class="alert alert-danger visually-hidden w-100" role="alert"></div>
                            </div>
                        </div>
                </div>
                    <div class="modal-footer">
            
                    </div>
                </div>
        </div>
    </div>

    <!-- Modal for sign out -->
    <div class="modal fade bd-example-modal-sm" id="signOutModal" tabindex="-1" aria-labelledby="signOutModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fs-5" id="signOutModalLabel">Вихід з системи</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="col">
                            <p>
                                Ви дійсно бажаєте вийти з системи?
                            </p>
                            
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="auth-signout-button" class="btn btn-outline-secondary">Так</button>
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal" aria-label="Close">Ні</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
