@{
    ViewData["Title"] = "Db";
}
<h1 class="display-4">Робота з базами даних</h1>
<p>
    Бази даних, по відношенню до веб-серверу із сайтом, можна поділити 
    на локальні та віддалені. Локальні розміщуються на тому ж ресурсі, 
    віддалені - на іншому. Робота з локальними БД простіше налаштовується і 
    є більш швидкою, але не дає змоги переносити сам веб-сервер або публікувати 
    сайт на сторонньому хостінгу. 
</p>
<p>
    В ASP, як і у .NET поширена практика роботи за БД засобами EntityFramework
    Для його налаштування встановлюємо додаткові модулі (Nuget)
</p>
<p>
    <ul>
        <li>Microsoft.EntityFrameworkCore - ядро фреймворка</li>
        <li>Microsoft.EntityFrameworkCore.Tools - засоби для командного рядка (міграції)</li>
        <li>Pomelo.EntityFrameworkCore.MySql - драйвери для роботи з MySql</li>  
    </ul>
</p>
<h2>Підключення</h2>
<p>
    Конфігурація. Паролі до віддалених бд не можна передавати у відкриті репозіторії.
    Зокрема, PlanetScale автоматично скасовує пароль, якщо знаходить його у такому. 
    Для запобігання цьому створюється окремий файл конфігурації, який вилучається з 
    репозіторію.
</p>
<p>
    При роботі кільков проєктів з однією базою даних можуть виникати конфлікти, коли 
    різні проєети вживають однакові імена для своїх таблиць. Для їх розділення застосовувається 
    принцип схем (якщо їх підтримує бд), але префіксний принцип - коли до імені таблиці додається 
    префікс, що характеризує проєкт. При роботі з EntityFramework слід не забути, що він 
    додатково використовує таблицю з історією міграцій, дяя якої теж треба вказати схему. 
</p>
<h2>Міграції</h2>
<p>
    Міграції (у EntityFramework) - схожі на коміти (Git) ресурси, які дозволяють повертатись 
    до попередніх версій БД або, навпаки, оновлювати ії. Після опису і налаштування контексту даних
    і підключення міграції створюються засобами командного рядку (Package Manager Console)
    [Tools -> NuGet PM -> PM Console]<br/>
    <code>Add-Migration Initial</code><br/>
    Після успішного створення міграції буде відкрито вікно з ії кодом, у випадку 
    з обмеженим доступом (роллю користувача) слід закоментувати або видалити інструкцію <br/>
    <code>migrationBuilder.AlterDatabase()</code><br/>
    Після цього застосовуваємо міграцію, у PM консоль вводимио 
    <code>Update-Database</code>


</p>