@{
    ViewData["Title"] = "HomeWork3";
}
<h1 class="display-4">HomeWork 3</h1>

<h2 class="display-6">Task</h2>
<p>
    Повторити ADO/EntityFramework (EF), LINQ-TO-EF
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            Описати сутність (Entity) для даних від форми, створеної на
            попередньому ДЗ. Додати поля Id та Moment (DateTime) - момент
            надходження даних
        </li>
        <li class="list-group-item">Додати до контексту даних відповідний DbSet</li>
        <li class="list-group-item">Створити міграцію</li>
        <li class="list-group-item">Застосувати міграцію</li>
        <li class="list-group-item">
            У випадку успішної валідації даних форми додати їх до
            таблиці БД засобами ASP/EF
        </li>
    </ul>
</p>

<h2 class="display-6">Solution</h2>

<p>
    Всі завдання виконав. Результат можно побачити в коді, та на сторінці
    <a asp-area="" asp-controller="Home" asp-action="HomeWork2">HomeWork2</a>
    .
</p>
