@{
	ViewData["Title"] = "HomeWork6";
}
<h1 class="display-4">HomeWork 6</h1>

<h2 class="display-6">Task</h2>

<p>
	Завершити процедуру видалення користувача
	<ul class="list-group">
		<li class="list-group-item">
			<input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox" checked>
			<label class="form-check-label" for="firstCheckbox">
				 - додати кнопку (посилання)
			</label>
		</li>
		<li class="list-group-item">
			<input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox">
			<label class="form-check-label" for="firstCheckbox">
				- реалізувати повідомлення-підтвердження про незворотність дії
			</label>
		</li>
		<li class="list-group-item">
			<input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox">
			<label class="form-check-label" for="firstCheckbox">
				- провести випробування
			</label>
		</li>
		<li class="list-group-item">
			<input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox">
			<label class="form-check-label" for="firstCheckbox">
				- перевірити, що персональні дані видаляються повністю
				(включно із файлами) <br />
				а рядок таблиці у БД залишається (з технічними даними - id, datetime)
			</label>
		</li>
		<li class="list-group-item">
			<input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox">
			<label class="form-check-label" for="firstCheckbox">
				** додате "м'яке" видалення - дані залишаються, але акаунт вважається
				видаленим/зупиненим. !! Змінити алгоритми входу до системи, утримання
				авторизації тощо.
			</label>
		</li>
	</ul>
</p>