@{
    ViewData["Title"] = "HomeWork5";
}
<h1 class="display-4">HomeWork 5</h1>

<h2 class="display-6">Task</h2>

<p>
	Вихід з авторизованого режиму
	<ul class="list-group">
		<li class="list-group-item">
			<input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox" checked>
			<label class="form-check-label" for="firstCheckbox">
				реалізувати метод SignOut у AuthController, прив'язати
				його до НТТР-методу DELETE
			</label>

		</li>
		<li class="list-group-item">
			<input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox" checked>
			<label class="form-check-label" for="firstCheckbox">
				у методі видаляти з сесії помітку про ідентифікатор
				користувача та повертати статус (успішно чи не успішно)
			</label>
		</li>
		<li class="list-group-item">
			<input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox" checked>
			<label class="form-check-label" for="firstCheckbox">
				у скрипті сайту (JS) додати для кнопки "вихід" обробник
				натиснення, реалізувати підтвердження виходу (так/ні)
				і надіслати запит методом DELETE до API.
			</label>
		</li>
		<li class="list-group-item">
			<input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox" checked>
			<label class="form-check-label" for="firstCheckbox">
				провести аналіз статус-коду відповіді, у разі позитивного
				статусу перезавантажити сторінку (рекомендовано перейти
				на гарантовано "відкриту" сторінку - на головну).
				Інакше повідомити користувача про проблеми із сервером.
			</label>
		</li>
	</ul>
</p>
<h2 class="display-6">Solution</h2>
<p>

</p>
