@{
    ViewData["Title"] = "Вступ";
}
<h1>@ViewData["Title"]</h1>

<h3>
    Структура проекту.
</h3>
<p>
    Проєкт складається з кількох структурованих частин. 
    wwwroot - корень "сторінки" - те, що безпосередньо дост
    з браузера. Тут стилі, скрипти, картинки тощо.<br />
    <code>Controllers</code> - класи управління группами сторінок.
    За замовченням, в ASP прийнята маршрутізація
    <strong>/Conroller/Action</strong>. Один котроллер обслуговує декілька сторінок 
    шляхом вибору методу за іменем, яке збігається з частиною маршруту "Action".<br/>

    <code>Views</code> - представлення. Також групуються за іменами контролерів (папки з їх іменами). 
    Імена самих представлень відповідають методам ("Action") і також автоматично визначаються інструкціями 
    <code>return View();</code>. Представлення стає частиною шаблона _Layout, який знаходиться у папці Shared.
    <br/>

    <code>Models</code> - моделі, але у розумінні ASP - класи, що призначені для передачі даних (комплексу даних) між Контролерами 
    та Представленнями. 
</p>
<p class="display-4">
    Наприклад, додаємо нову сторінку <code>/Home/Razor</code>. 
    <ol>
        <li>У HomeController створюємо новий метод, назва якого відповідає 
            маршруту (Razor), а сигнатура - з іншими методами.
        </li>
        <li>
            Створюємо Представлення (View) у папці Vews/Home з такою
            ж назвою (Razor)<br />
        </li>
        <li>
            Розміщуємо посилання на цю сторінку в інтерфейсі проєкту
        </li>
    </ol>
</p>
